/* GERAL */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
	background-color: #000;
}
h1, h2, h3, p, sup, span {
    color: #e58900;
}
.titulo{
    padding: 25px;
    font-size: 2em;
}
.container{
    max-width: 980px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}
.container-txt p {
    margin-bottom: 1em;
    text-align:left;
}

/* HEADER */
.header {
    background-color: #e58900;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	justify-content: flex-start;
	position: relative;
    text-decoration: bold;
}
.header-nav ul {
    display: flex;
    flex-wrap: wrap;
}
.header-nav a {
    color: #000;
    font-size: 1em;
    display: block;
    padding: 10px;
}

/* HOME */
.container-txt {
    flex: 2 1 300px;
    margin: 0 10px;
}
.container-txt h1 {
    margin-bottom: .5em;
}
.container-img{
	flex: 1;
}
.fourkings {
    width: 400px;
    padding-top: 40px;
    padding-right: 70px;
}

/* REIS */

.reis {
    flex: 1 1 250px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
.reis h2 {
    padding: 5px;
    text-align: center;
}
.reis h3 {
    padding: 5px; 
    text-align: center;
}
.reis p {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
    padding: 10 0px;
    margin-bottom: 1px solid #e58900;
}
.rei-img {
    width: 150px;
    padding: 0 50px;
    justify-content: center;
}

/* ROUPAS */
.container-roupas{
    align-items: center;
    max-width: 980px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}
.roupa {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.roupa h3 {
    padding: 10 0px;
}
.roupa span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
}
.img-roupa, .img-roupa-zoom {
    width: 350px;
    padding: 25px;
    justify-content: center;
    border-top: 5px solid #e58900;
}

/* ACESSORIOS */
.acessorios {

}
.container{
    max-width: 980px;
	margin: 0 auto;
	padding: 60px 0;
	flex-wrap: wrap;
    display: flex; 
    flex-wrap: wrap;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
/* .acessorio-txt{
    H2
} */
.bone {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.bone h3 {
    padding: 10 0px;
}
.bone span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
}
/* .carteira-txt{

} */
.carteira {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.carteira h3 {
    padding: 10 0px;
}
.carteira span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
}
/* .oculos-txt{
} */
.oculos {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.oculos h3 {
    padding: 10 0px;
}
.oculos span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
}
.img-acessorio, .img-acessorio-zoom {
    width: 350px;
    padding: 25px;
    justify-content: center;
    border-top: 5px solid #e58900;
}

/* COMO COMPRAR */

/* TABELA DE MEDIDAS */
.container-img {
	flex: 1;
}
.tabela{
    width: 400px;
    padding-top: 40px;
    padding-left: 100px;
}

/* TROCAS E DEVOLUÇÕES */

/* BASE */
.footer {
    background-color: #e58900;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	justify-content: flex-end;
	position: relative;
    text-align: right;
    text-decoration: bold;
}
.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
}
.footer-nav ul li{
    display: inline-block;
	margin-left: 45px;
	margin-top: 10px;
}
.footer-nav a {
    color: #000;
    font-size: 1em;
    display: block;
    padding: 10px;
}