body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
	background-color: #000;
}
h1, h2, h3, p, sup, span {
    color: #e58900;
}
.container{
    max-width: 800px;
	margin: 0 auto;
	padding: 60px 0px;
	display: flex;
	flex-wrap: wrap;
}
.container-txt {
    flex: 2 1 300px;
    margin: 0 10px;
}
.container-txt h1 {
    margin-bottom: .5em;
}
.container-txt p {
    margin-bottom: 1em;
    text-align:left;
    padding-top: 25px;
    font-size: 1em;
    line-height: 1.4;
}
.container-img{
	flex: 1 1 300px;
    margin: 0 10px;
}
.menu {
    background-color: #e58900;
    color: black;
}
.menuinfo {
    max-width: 1300px;
    height: 25px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    align-items: center;
	position: relative;
    border-bottom: 1px solid black;

}
.menuinfo-nav ul {
    display: flex;
    flex-wrap: wrap;
}
.menuinfo-nav ul li{
    display: inline-block;
	margin-left: 45px;
	margin-top: 10px;
}
.menuinfo-nav a {
    color: #000;
    font-size: 1em;
    display: block;
    padding: 10px;
}
.menuinfo-nav a:hover{
    color: white;
} 
.divisoria {
    background-color: #e58900;
    height: 250px;
    width: 1200px;
    flex: 2 1 300px;
    margin: 50px 50px;
    padding: 25px 25px;
}
.divisoria h1 {
    margin-bottom: .5em;
}
.container-img{
	flex: 1;
}
.fourkings {
    width: 400px;
    padding-top: 40px;
    /* padding-right: 70px; */
}
/* REIS */
.reis {
    flex: 1 1 250px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
.reis h2 {
    padding: 5px;
    text-align: center;
}
.reis h3 {
    padding: 5px; 
    text-align: center;
}
.reis p {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
    padding: 10 0px;
    margin-bottom: 1px solid #e58900;
}
.rei-img {
    width: 150px;
    padding: 0 50px;
    justify-content: center;
}
/* ROUPAS */
.produtos{
    max-width: 800px;
	margin: 60px auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}
.produtos-item {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0px 90px;
    justify-content: center;
    margin: 10px;
}
.container-roupas{
    display: flex;
}
.produtos-item h3 {
    padding: 10 0px;
    width: 400px;
}
.produtos-item span {
    font-size: 1em;
    line-height: 1;
    margin-top: .5em;
    padding-bottom: 10px; 
    display: block;
    width: 400px;
    justify-content: flex-end;
    display: flex;
    height: 35px;
}
.produtos-img, .produtos-img-zoom {
    width: 350px;
    padding: 25px;
    justify-content: center;
    border-top: 5px solid #e58900;
}
/* ACESSORIOS */
.container {
    max-width: 980px;
	margin: 0 auto;
	padding: 60px 0;
	flex-wrap: wrap;
    display: flex; 
    align-items: center;
}
/* .bone {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.bone h3 {
    padding: 10 0px;
}
.bone span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
}
.carteira {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.carteira h3 {
    padding: 10 0px;
}
.carteira span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
}
.oculos {
    flex: 1 1 150px;
    max-width: 250px;
    padding: 0 100px;
    justify-content: center;
}
.oculos h3 {
    padding: 10 0px;
}
.oculos span, sup {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
    padding: 10px; 
} */
.img-acessorio, .img-acessorio-zoom {
    width: 350px;
    padding: 25px;
    justify-content: center;
    border-top: 5px solid #e58900;
}
/* TABELA DE MEDIDAS */
.tabela{
    width: 400px;
    padding-top: 40px;
    padding-left: 100px;
}
/* BASE */
.footer {
    background-color: #e58900;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	justify-content: flex-end;
	position: relative;
    text-align: right;
    text-decoration: bold;
}
.footer-nav ul {
    flex-wrap: wrap;
}
.footer-nav ul li{
	margin-left: 45px;
	margin-top: 5px;
}
.footer-nav a {
    color: #000;
    font-size: 1em;

}
.footer-nav a:hover{
    color: white;
}